<div class="row">
  <div class="<%=bootstrap_class%>">
      <h1 class="page-header"><%= title %></h1>
      <div class="pull-right">

        <%= link_to new_test_case_execution_path, class: "btn btn-success btn-circle ", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'New Executions'  do%>
          <i class="fa fa-play"></i>
        <% end %>
      </br>
    </br>
    </div>
  </div>
</div>
